body {
    color: #CCCCCC;
    background-color: black;
}

textarea {
    padding: 20px;
    background-color: black;
    color: aqua;
    font-size: large;
    border: 1px solid aqua;
    border-radius: 5px;
}

hr {
    color: aqua;
}

a {
    color: white;
    text-decoration: none;
}

.titre {
    color: #00E676;
    font-size: 1.7em;
}

.pre_select {
    background: -moz-radial-gradient(top left, #455A64, black);
    color: #18FFFF !important;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 2px black;
}

header {
    background-color: #263238;
}

nav a:hover {
    color: #18FFFF;
    background: -moz-radial-gradient(top left, #455A64, black);
    border-radius: 2px;
    box-shadow: 1px 1px 1px 2px black;
}

.menu {
    background: -moz-linear-gradient(#263238, #37474F);
}

.domaine {
    /* 
    background: -moz-radial-gradient(top left, #455A64, #37474F); */
    background-color: black;/* 
    color: #18FFFF !important; */
    border-radius: 2px;
    border-bottom: 1px solid #18FFFF;
}

.mention > a {
    display: block;
    padding: 20px;
}

.mention > a:hover {
    border-radius: 2px;
    background: -moz-radial-gradient(top left, #455A64, black);
    color: #18FFFF;
    box-shadow: 1px 1px 1px 2px black;
}

.corps {
    background-color: #212121;
}

.menuc {
    background-color: #37474F;
}

.menuc > a {
    color: white;
}

.menuc > a:hover {
    background: -moz-radial-gradient(top left, #455A64, black);
    border-radius: 2px;
    box-shadow: 1px 1px 1px 2px black;
    color: #18FFFF;
}

.corps .container {
    /* background: -moz-radial-gradient(top left, #455A64, black); */
    background-color: #263238;
}

table {
    background-color: rgba(29, 32, 51, 0.267);
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px black;
}

caption {
    background-color: black;
}

footer {
    background-color: #263238;
    border-top: 1px solid #18FFFF;
}

.tableaux {
    width: 100%;
    border: 1px solid aqua;
}

.ec {
    width: 46%;
    margin: 2%;
    float: left;
}

table {
    max-width: 600px;
    min-width: 300px;
    margin: 3%;
}

.tbt {
    text-align: center;
    background-color: rgba(17, 17, 17, 0.384);
}

td a:hover {
    color: #FFFF00;
    text-decoration: underline;
}

.niveau {
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    color: yellow;
    background: -moz-radial-gradient(top left, #462c2c, black);
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    border-bottom: 1px solid #18FFFF;
}

.parcours {
    clear: both;
    width: 30%;
    padding: 10px;
    background: -moz-radial-gradient(top left, #1c302d, black);
    border-radius: 5px 5px 0px 0px;
}



.t1 {
    background-color : #0d0d1d3f;
    text-align: center;
}
  
.t2 {
    background-color : #1f1d3b3a;
    text-align: center;
}
  
.t3 {
    background-color : #403d5c31;
    text-align: center;
}
  
.t4 {
    background-color : #6f6c8634;
    text-align: center;
}