body {
    color: #cccccc;
    background-color: black;
}

textarea {
    width: 96%;
    padding: 20px;
    background-color: black;
    color: aqua;
    font-size: large;
    border: 1px solid aqua;
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.titre {
    color: #00e676;
    font-size: 1.7em;
}

.pre_select {
    background-color: black;
    color: #18ffff !important;
    border-radius: 5px;
}

header {
    background-color: #212121;
}

nav a:hover {
    color: #18ffff;
    background-color: black;
    border-radius: 5px;
}

.menu {
    background-color: #272727;
}

.domaine {
    border-bottom: 1px solid #18ffff;
}

.mention > a {
    display: block;
    padding: 20px;
}

.mention > a:hover {
    border-radius: 5px;
    background-color: black;
    color: #18ffff;
}

.corps {
    background-color: #212121;
}

.menuc {
    background-color: #333333;
}

.menuc > a {
    color: #aaa;
}

.menuc > a:hover {
    background-color: black;
    border-radius: 5px;
    color: #18ffff;
}

table {
    background-color: #404040;
    border: 1px solid grey;
}

caption {
    background-color: #272727;
}

footer {
    background-color: #212121;
    border-top: 1px solid #18ffff;
}

.tableaux {
    width: 100%;
    border: 1px solid aqua;
}

.ec {
    width: 46%;
    margin: 2%;
    float: left;
}

.tbt {
    text-align: center;
    background-color: #333333;
}

td a:hover {
    color: #ffff00;
    text-decoration: underline;
}

.niveau {
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    color: yellow;
    background-color: #404040;
    border-radius: 5px;
    text-align: center;
    border-bottom: 1px solid #18ffff;
}

.parcours {
    clear: both;
    width: 30%;
    padding: 10px;
    background-color: #272727;
    border-radius: 5px;
}

.t1 {
    background-color: #212121;
    text-align: center;
}

.t2 {
    background-color: #272727;
    text-align: center;
}

.t3 {
    background-color: #333333;
    text-align: center;
}

.t4 {
    background-color: #404040;
    text-align: center;
}
