body {
    color: #212121;
    background-color: white;
}

textarea {
    padding: 20px;
    color: black;
    font-size: large;
    border: 1px solid aqua;
    border-radius: 5px;
}

a {
    color: #212121;
    text-decoration: none;
}

.titre {
    color: #00A234;
    font-size: 1.7em;
}

.pre_select {
    border-radius: 5px;
    background-color : #EEEEEE;
    color: #098888 !important;
}

header {
    color: white;
    background-color: #777777;
}

nav a {
    color: white;
}

nav a:hover {
    color: #098888;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.menu {
    background-color: #BBBBBB;
}

.domaine {
    background-color: #EEEEEE;
    border-radius: 5px;
    border-bottom: 1px solid #098888;
}

.mention > a {
    display: block;
    padding: 20px;
}

.mention > a:hover {
    border-radius: 5px;
    background-color: #EEEEEE;
    color: #098888;
}

.corps {
    background-color: #EEEEEE;
}

.menuc {
    background-color: #DDDDDD;
}

.menuc > a {
    border-radius: 5px;
    color: #212121;
}

.menuc > a:hover {
    background-color: #EEEEEE;
    color: #098888;
}

table {
    background-color: #DFDFDF;
    border: 1px solid grey;
}

caption {
    background-color: #BBBBBB;
}

footer {
    background-color: #777777;
    border-top: 1px solid #098888;
}

footer p {
    color: white;
}

.tableaux {
    width: 100%;
    border: 1px solid #098888;
}

.ec {
    width: 46%;
    margin: 2%;
    float: left;
}

.tbt {
    text-align: center;
    background-color: #DDDDDD;
}

td a:hover {
    color: #BB0000;
    text-decoration: underline;
}

.niveau {
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    color: #BB0000;
    background-color: #cccccc;
    border-radius: 5px;
    text-align: center;
    border-bottom: 1px solid #098888;
}

.parcours {
    clear: both;
    width: 30%;
    padding: 10px;
    background-color: #E9E9E9;
    border-radius: 5px;
}



.t1 {
    background-color : #EFEFEF;
    text-align: center;
}
  
.t2 {
    background-color : #E9E9E9;
    text-align: center;
}
  
.t3 {
    background-color : #DDDDDD;
    text-align: center;
}
  
.t4 {
    background-color : #C0C0C0;
    text-align: center;
}

caption {
    background-color: #BBBBBB;
}

td {
    background-color: #EEEEEE;
}