h2 {
    color: rebeccapurple;
}

h3 {
    color: rgb(45, 255, 174);
}

hr {
    color: aqua;
}

samp {
    font-size: 1.4em;
}

.titre_livre {
    font-size: 2em;
    text-align: center;
    color: #098888;
    background-color: white;
    border-radius: 5px;
}

.corps .container {
    font-size: 1.2em;
}

.exemple {
    background-color: #dddddd;
    padding: 10px;
}

.cadre {
    border: 1px solid black;
    border-radius: 5px;
}
