* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    color: #CCCCCC;
    background-color: black;
}

p, h1, h2, h3, h5, h6, li, cite {
    padding: 1.2em;
}

h2 {
    color: yellow;
}

hr {
    color: aqua;
}

ul, ol {
    padding-left: 3em;
}

a {
    color: white;
    text-decoration: none;
}

samp {
    font-size : 1.4em;
}

.titre_livre {
    font-size: 2em;
    text-align: center;
    color: aqua;
    background-color: black;
    border-radius: 5px;
}

.titre {
    color: #00E676;
    font-size: 1.7em;
    text-align: center;
}

.rouge {
    color: #B00002;
}

.pre_select {
    border-radius: 5px;
    background-color : black;
    color: #18FFFF !important;
}

.exemple {
    background-color: #444444;
}
header {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 30px;
    width: 100%;
    text-align: right;
    background-color: #212121;
}

header p {
    position: absolute;
    padding: 9px;
    right: 0px;
    font-size: 0.8em;
}

nav  {
    position: fixed;
    top: 0px;
    left :0px;
    z-index: 2;
    font-size: 0.7em;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #18FFFF;
}

nav a {
    display: block;
    float: left;
    padding: 9px;
}

nav a:hover {
    color: #18FFFF;
    background-color: black;
    border-radius: 5px;
}

.menu {
    position: fixed;
    top : 31px;
    bottom: 31px;
    left: 0px;
    width: 20%;
    font-size: 0.8em;
    background-color: #272727;
    overflow: auto;
}

.mention {
    width: 92%;
    height: 42%;
    padding: 4%;
}

.domaine {
    text-align: center;
    width: 92%;
    padding: 4%;
    border-bottom: 1px solid #18FFFF;
}

.mention > a {
    display: block;
    padding: 20px;
}

.mention > a:hover {
    border-radius: 5px;
    background-color: black;
    color: #18FFFF;
}

.corps {
    position: fixed;
    top : 31px;
    bottom: 31px;
    right: 0px;
    padding: 0px;
    width: 80%;
    background-color: #212121;
}

.menuc {
    position: absolute;
    top: 0px;
    left :0px;
    z-index: 2;
    width: 100%;
    height: 30px;
    background-color: #333333;
    overflow: auto;
}

.menuc > a {
    display: block;
    float: left;
    font-size: 0.8em;
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
    color: #aaa;
}

.menuc > a:hover {
    background-color: black;
    color: #18FFFF;
}

.corps .container {
    position: absolute;
    top: 30px;
    bottom: 0px;
    width: 90%;
    padding: 5%;
    padding-top: 2%;
    overflow: auto;
}

table {
    border-collapse :collapse;
    width: 97%;
    background-color: #404040;
    border: 1px solid grey;
    margin-bottom: 30px;
}

td {
    padding: 10px;
    border: 1px solid grey;
}

caption {
    padding: 10px;
    background-color: #272727;
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 16px;
    font-size: 0.8em;
    text-align: center;
    padding: 7px;
    background-color: #212121;
    border-top: 1px solid #18FFFF;
}

footer p {
    padding: 0px;
}